<!DOCTYPE html>
<html>

<head>
	<title>Home Page</title>
</head>

<body>
	<% if(name==='Sunday' || name==='Saturday') {%> 
	<h1 style="color:aqua;">Today is <%=name%> !</h1> 
	<% } else { %>
	<h1 style="color:violet;">Today is <%=name%> !</h1>
	<% } %> 
</body>

</html>